**/bin/
/dist/
**/obj/
**/command-output/
.DS_Store
**/node_modules/
**/.vs
**/.idea
**/.ionide
**/.vscode
*.swp
.pulumi
.pulumi-state
Pulumi.*.yaml
yarn.lock
nuget/
coverage.txt

sdk/dotnet/version.txt
sdk/python/venv
sdk/python/bin
