---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"description":"The shared inbox of the example programs.","name":"pulumi-test-inbox-ee2f13ca"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes
        method: POST
      response:
        body: '{"id":"437c351d-64dd-4f1b-b4da-b9364052639f","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:27:58.259Z","createdAt":"2026-08-26T01:27:58.259Z","name":null,"domainId":null,"description":null,"emailAddress":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":[],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 764.084708ms
