---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f
        method: GET
      response:
        body: '{"id":"437c351d-64dd-4f1b-b4da-b9364052639f","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:27:58.259Z","createdAt":"2026-08-26T01:27:58.259Z","name":null,"domainId":null,"description":null,"emailAddress":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":[],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.21175ms
[...]
    - id: 2
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-ae3c849d","content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates
        method: POST
      response:
        body: '{"id":"413f810e-cac2-499e-b0c3-95f2835cc653","name":"pulumi-test-template-ae3c849d","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:03.903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 214.584084ms
    - id: 3
      request:
        host: api.mailslurp.com
        body: '{"url":"https://example.com/mailslurp/pulumi-test-webhook-5bd2d2af","eventName":"NEW_EMAIL","name":"pulumi-test-webhook-5bd2d2af","useStaticIpRange":false,"ignoreInsecureSslCertificates":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f/webhooks
        method: POST
      response:
        body: '{"id":"763ea5d6-3bac-481e-9059-7b0f2eacd13e","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-5bd2d2af","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-5bd2d2af","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:03.922Z","updatedAt":"2026-08-26T01:28:03.922Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 238.918167ms
[...]
{"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-23d37356.example.com"}'
        form:
            inboxId:
                - 437c351d-64dd-4f1b-b4da-b9364052639f
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?inboxId=437c351d-64dd-4f1b-b4da-b9364052639f
        method: POST
      response:
        body: '{"id":"b3bc3c80-5175-4093-9a3e-9c73fa164bf9","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-23d37356.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:03.961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.342333ms
[...]
    - id: 8
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/763ea5d6-3bac-481e-9059-7b0f2eacd13e
        method: GET
      response:
        body: '{"id":"763ea5d6-3bac-481e-9059-7b0f2eacd13e","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-5bd2d2af","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-5bd2d2af","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:03.922Z","updatedAt":"2026-08-26T01:28:03.922Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.529125ms
    - id: 9
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets/b3bc3c80-5175-4093-9a3e-9c73fa164bf9
        method: GET
      response:
        body: '{"id":"b3bc3c80-5175-4093-9a3e-9c73fa164bf9","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-23d37356.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:03.961Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.771917ms
[...]
    - id: 12
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/templates/413f810e-cac2-499e-b0c3-95f2835cc653
        method: GET
      response:
        body: '{"id":"413f810e-cac2-499e-b0c3-95f2835cc653","name":"pulumi-test-template-ae3c849d","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:03.903Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.441625ms
[...]
    - id: 16
      request:
        host: api.mailslurp.com
        form:
            includeAccountWide:
                - "true"
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/paginated?includeAccountWide=true&page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.230542ms
    - id: 17
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.588542ms
    - id: 18
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:28:11Z"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates/paginated?page=0&since=2026-08-19T01%3A28%3A11Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"numberOfElements":0,"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.372416ms
