---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"field":"SUBJECT","forwardToRecipients":["pulumi-test-forwarder-b201a516@example.com"],"match":"invoice"}'
        form:
            inboxId:
                - 437c351d-64dd-4f1b-b4da-b9364052639f
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/forwarders?inboxId=437c351d-64dd-4f1b-b4da-b9364052639f
        method: POST
      response:
        body: '{"id":"76d4fba6-9d80-4c97-9b25-004ff93e0aca","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","name":null,"field":"SUBJECT","match":"invoice","forwardToRecipients":["pulumi-test-forwarder-b201a516@example.com"],"createdAt":"2026-08-26T01:29:13.763Z","should":null,"matchOptions":null,"attachmentTextExtractionMethod":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.96875ms
    - id: 1
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/forwarders/76d4fba6-9d80-4c97-9b25-004ff93e0aca
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 125.701291ms
    - id: 2
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/domains
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.117458ms
    - id: 3
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:29:14Z"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/forwarders?page=0&since=2026-08-19T01%3A29%3A14Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"numberOfElements":0,"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.817708ms
