---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f
        method: GET
      response:
        body: '{"id":"437c351d-64dd-4f1b-b4da-b9364052639f","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:27:58.259Z","createdAt":"2026-08-26T01:27:58.259Z","name":null,"domainId":null,"description":null,"emailAddress":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":[],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.830959ms
[...]
    - id: 2
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-0cedaf2b","content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates
        method: POST
      response:
        body: '{"id":"17676b08-4d21-4ae7-a148-44a054312b9a","name":"pulumi-test-template-0cedaf2b","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:37.136Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 202.085458ms
[...]
{"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f3b5adbc.example.com"}'
        form:
            inboxId:
                - 437c351d-64dd-4f1b-b4da-b9364052639f
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?inboxId=437c351d-64dd-4f1b-b4da-b9364052639f
        method: POST
      response:
        body: '{"id":"284ff42d-d676-4bcd-9a3d-01e5455fe6fc","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f3b5adbc.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:37.151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.417083ms
    - id: 4
      request:
        host: api.mailslurp.com
        body: '{"url":"https://example.com/mailslurp/pulumi-test-webhook-4eb1e995","eventName":"NEW_EMAIL","name":"pulumi-test-webhook-4eb1e995","useStaticIpRange":false,"ignoreInsecureSslCertificates":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f/webhooks
        method: POST
      response:
        body: '{"id":"b055b0f4-99d4-4932-aba4-df48c4147ec3","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-4eb1e995","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-4eb1e995","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:37.158Z","updatedAt":"2026-08-26T01:28:37.158Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 224.167125ms
[...]
    - id: 8
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/b055b0f4-99d4-4932-aba4-df48c4147ec3
        method: GET
      response:
        body: '{"id":"b055b0f4-99d4-4932-aba4-df48c4147ec3","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-4eb1e995","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-4eb1e995","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:37.158Z","updatedAt":"2026-08-26T01:28:37.158Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.57275ms
    - id: 9
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets/284ff42d-d676-4bcd-9a3d-01e5455fe6fc
        method: GET
      response:
        body: '{"id":"284ff42d-d676-4bcd-9a3d-01e5455fe6fc","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f3b5adbc.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:37.151Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.896584ms
[...]
    - id: 11
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/templates/17676b08-4d21-4ae7-a148-44a054312b9a
        method: GET
      response:
        body: '{"id":"17676b08-4d21-4ae7-a148-44a054312b9a","name":"pulumi-test-template-0cedaf2b","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:37.136Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.19675ms
[...]
    - id: 16
      request:
        host: api.mailslurp.com
        form:
            includeAccountWide:
                - "true"
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/paginated?includeAccountWide=true&page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"numberOfElements":0,"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.473917ms
    - id: 17
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.119416ms
    - id: 18
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:28:42Z"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates/paginated?page=0&since=2026-08-19T01%3A28%3A42Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.965ms
