---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f
        method: GET
      response:
        body: '{"id":"437c351d-64dd-4f1b-b4da-b9364052639f","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:27:58.259Z","createdAt":"2026-08-26T01:27:58.259Z","name":null,"domainId":null,"description":null,"emailAddress":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":[],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.815667ms
[...]
    - id: 2
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-17c2d2dd","content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates
        method: POST
      response:
        body: '{"id":"07832a75-a0b1-4452-878e-eaefac482c86","name":"pulumi-test-template-17c2d2dd","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:29:03.447Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 259.053083ms
[...]
{"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-46c372eb.example.com"}'
        form:
            inboxId:
                - 437c351d-64dd-4f1b-b4da-b9364052639f
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?inboxId=437c351d-64dd-4f1b-b4da-b9364052639f
        method: POST
      response:
        body: '{"id":"878b359b-a9b4-4411-9aa2-c88c57f0d9cb","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-46c372eb.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:29:03.467Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.908875ms
    - id: 4
      request:
        host: api.mailslurp.com
        body: '{"url":"https://example.com/mailslurp/pulumi-test-webhook-a6a47dc1","eventName":"NEW_EMAIL","name":"pulumi-test-webhook-a6a47dc1","useStaticIpRange":false,"ignoreInsecureSslCertificates":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f/webhooks
        method: POST
      response:
        body: '{"id":"916a355b-a2bd-4805-8767-db0b9a9854c5","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-a6a47dc1","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-a6a47dc1","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:29:03.467Z","updatedAt":"2026-08-26T01:29:03.467Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 269.165083ms
[...]
    - id: 8
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/916a355b-a2bd-4805-8767-db0b9a9854c5
        method: GET
      response:
        body: '{"id":"916a355b-a2bd-4805-8767-db0b9a9854c5","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-a6a47dc1","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-a6a47dc1","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:29:03.467Z","updatedAt":"2026-08-26T01:29:03.467Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.060333ms
    - id: 9
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets/878b359b-a9b4-4411-9aa2-c88c57f0d9cb
        method: GET
      response:
        body: '{"id":"878b359b-a9b4-4411-9aa2-c88c57f0d9cb","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-46c372eb.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:29:03.467Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.761167ms
    - id: 10
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/templates/07832a75-a0b1-4452-878e-eaefac482c86
        method: GET
      response:
        body: '{"id":"07832a75-a0b1-4452-878e-eaefac482c86","name":"pulumi-test-template-17c2d2dd","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:29:03.447Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.2015ms
[...]
    - id: 19
      request:
        host: api.mailslurp.com
        form:
            includeAccountWide:
                - "true"
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/paginated?includeAccountWide=true&page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.618666ms
    - id: 20
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.147917ms
    - id: 21
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:29:07Z"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates/paginated?page=0&since=2026-08-19T01%3A29%3A07Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.197833ms
