---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f
        method: GET
      response:
        body: '{"id":"437c351d-64dd-4f1b-b4da-b9364052639f","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:27:58.259Z","createdAt":"2026-08-26T01:27:58.259Z","name":null,"domainId":null,"description":null,"emailAddress":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":[],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"0b59bb91-70b8-48dd-ad00-a6b463cd3a21","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.433458ms
[...]
    - id: 2
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-2f0390cb","content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates
        method: POST
      response:
        body: '{"id":"ccaf60a1-a71d-4d45-97a6-f713278925cb","name":"pulumi-test-template-2f0390cb","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:16.975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 220.941125ms
[...]
{"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-ef8ab4f2.example.com"}'
        form:
            inboxId:
                - 437c351d-64dd-4f1b-b4da-b9364052639f
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?inboxId=437c351d-64dd-4f1b-b4da-b9364052639f
        method: POST
      response:
        body: '{"id":"72ab49bf-968e-4586-981e-4e9ea92a2730","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-ef8ab4f2.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:16.992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.755958ms
    - id: 4
      request:
        host: api.mailslurp.com
        body: '{"url":"https://example.com/mailslurp/pulumi-test-webhook-b2ba5c38","eventName":"NEW_EMAIL","name":"pulumi-test-webhook-b2ba5c38","useStaticIpRange":false,"ignoreInsecureSslCertificates":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/437c351d-64dd-4f1b-b4da-b9364052639f/webhooks
        method: POST
      response:
        body: '{"id":"cedb0461-2e78-4887-9e23-9929a2adac2d","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-b2ba5c38","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-b2ba5c38","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:17.003Z","updatedAt":"2026-08-26T01:28:17.003Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 251.325792ms
[...]
    - id: 8
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/cedb0461-2e78-4887-9e23-9929a2adac2d
        method: GET
      response:
        body: '{"id":"cedb0461-2e78-4887-9e23-9929a2adac2d","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","basicAuth":false,"name":"pulumi-test-webhook-b2ba5c38","phoneId":null,"inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","requestBodyTemplate":null,"url":"https://example.com/mailslurp/pulumi-test-webhook-b2ba5c38","method":"POST","payloadJsonSchema":"","createdAt":"2026-08-26T01:28:17.003Z","updatedAt":"2026-08-26T01:28:17.003Z","eventName":"NEW_EMAIL","requestHeaders":null,"aiTransformId":null,"ignoreInsecureSslCertificates":false,"useStaticIpRange":false,"healthStatus":null,"enabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.128875ms
    - id: 9
      request:
        host: api.mailslurp.com
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets/72ab49bf-968e-4586-981e-4e9ea92a2730
        method: GET
      response:
        body: '{"id":"72ab49bf-968e-4586-981e-4e9ea92a2730","inboxId":"437c351d-64dd-4f1b-b4da-b9364052639f","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-ef8ab4f2.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:28:16.992Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.076125ms
[...]
    - id: 11
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/templates/ccaf60a1-a71d-4d45-97a6-f713278925cb
        method: GET
      response:
        body: '{"id":"ccaf60a1-a71d-4d45-97a6-f713278925cb","name":"pulumi-test-template-2f0390cb","variables":[{"name":"firstName","variableType":"STRING"},{"name":"inboxAddress","variableType":"STRING"}],"content":"Hello {{firstName}},\nYour inbox {{inboxAddress}} is ready.\n","createdAt":"2026-08-26T01:28:16.975Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.7855ms
[...]
    - id: 16
      request:
        host: api.mailslurp.com
        form:
            includeAccountWide:
                - "true"
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/webhooks/paginated?includeAccountWide=true&page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.825084ms
    - id: 17
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.109ms
    - id: 18
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:28:22Z"
            size:
                - "20"
            sort:
                - DESC
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates/paginated?page=0&since=2026-08-19T01%3A28%3A22Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.52525ms
