---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"field":"SUBJECT","match":"weekly*","forwardToRecipients":["pulumi-test-forwarder-3604832b@example.com"]}'
        form:
            inboxId:
                - 079ca4c2-a602-4031-b8bd-0c02b5e23513
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/forwarders?inboxId=079ca4c2-a602-4031-b8bd-0c02b5e23513
        method: POST
      response:
        body: '{"id":"8f1662c7-f186-4ae9-a0b1-b9d2f8a06386","inboxId":"079ca4c2-a602-4031-b8bd-0c02b5e23513","name":null,"field":"SUBJECT","match":"weekly*","forwardToRecipients":["pulumi-test-forwarder-3604832b@example.com"],"createdAt":"2026-08-26T01:13:43.105Z","should":null,"matchOptions":null,"attachmentTextExtractionMethod":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 224.265375ms
    - id: 1
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/forwarders/8f1662c7-f186-4ae9-a0b1-b9d2f8a06386
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 140.052458ms
[...]
    - id: 3
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:13:43Z"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/forwarders?page=0&since=2026-08-19T01%3A13%3A43Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[{"id":"3b62ba6f-43c8-4ed6-a3a8-719920a1aa2b","inboxId":"079ca4c2-a602-4031-b8bd-0c02b5e23513","name":null,"field":"SUBJECT","match":"weekly*","forwardToRecipients":["pulumi-test-forwarder-fb9cf65f@example.com"],"createdAt":"2026-08-26T01:13:43.574Z","should":"WILDCARD","matchOptions":null,"attachmentTextExtractionMethod":null}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"numberOfElements":1,"first":true,"empty":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.415916ms
[...]
