---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f5149eb4.example.com"}'
        form:
            inboxId:
                - 079ca4c2-a602-4031-b8bd-0c02b5e23513
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/rulesets?inboxId=079ca4c2-a602-4031-b8bd-0c02b5e23513
        method: POST
      response:
        body: '{"id":"bcfb7cf2-15e7-4292-8015-40c5a857f24a","inboxId":"079ca4c2-a602-4031-b8bd-0c02b5e23513","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f5149eb4.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:13:45.205Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.996666ms
    - id: 1
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/rulesets?page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[{"id":"bcfb7cf2-15e7-4292-8015-40c5a857f24a","inboxId":"079ca4c2-a602-4031-b8bd-0c02b5e23513","phoneId":null,"scope":"RECEIVING_EMAILS","action":"BLOCK","target":"*@pulumi-test-ruleset-f5149eb4.example.com","handler":"EXCEPTION","active":true,"createdAt":"2026-08-26T01:13:45.205Z"}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.782916ms
[...]
    - id: 6
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/rulesets/bcfb7cf2-15e7-4292-8015-40c5a857f24a
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 141.2575ms
[...]
