---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-inbox-c8d25b2b","description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","tags":["pulumi-test-lifecycle"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/withOptions
        method: POST
      response:
        body: '{"id":"0a95457d-de4c-4d85-ae79-60e197370faa","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:13:41.273Z","createdAt":"2026-08-26T01:13:41.273Z","name":"pulumi-test-inbox-c8d25b2b","domainId":null,"description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","emailAddress":"02d66c58-8829-4fa9-aebb-185f7c6bf296@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":["pulumi-test-lifecycle"],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"02d66c58-8829-4fa9-aebb-185f7c6bf296","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 398.050083ms
    - id: 1
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-inbox-bce0d9ac","description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","tags":["pulumi-test-lifecycle"],"favourite":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/0a95457d-de4c-4d85-ae79-60e197370faa
        method: PATCH
      response:
        body: '{"id":"0a95457d-de4c-4d85-ae79-60e197370faa","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:13:41.273Z","createdAt":"2026-08-26T01:13:41.273Z","name":"pulumi-test-inbox-bce0d9ac","domainId":null,"description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","emailAddress":"02d66c58-8829-4fa9-aebb-185f7c6bf296@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":["pulumi-test-lifecycle"],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"02d66c58-8829-4fa9-aebb-185f7c6bf296","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.2245ms
    - id: 2
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-inbox-bce0d9ac","description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","tags":["pulumi-test-lifecycle"],"prefix":"pulumitest"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/inboxes/withOptions
        method: POST
      response:
        body: '{"id":"428765e6-4cac-4a2a-938e-7a30c672cde9","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:13:41.909Z","createdAt":"2026-08-26T01:13:41.909Z","name":"pulumi-test-inbox-bce0d9ac","domainId":null,"description":"The lifecycle inbox of the pulumi-mailslurp integration suite.","emailAddress":"pulumitest-e185db0d-154d-43dd-8a04-bf3450c22e65@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":["pulumi-test-lifecycle"],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"pulumitest-e185db0d-154d-43dd-8a04-bf3450c22e65","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 409.40075ms
[...]
    - id: 5
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:13:42Z"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/inboxes/paginated?page=0&since=2026-08-19T01%3A13%3A42Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[{"id":"079ca4c2-a602-4031-b8bd-0c02b5e23513","domainId":null,"emailAddress":"d34e4688-31ff-48d2-b898-21d34f22549e@sandbox.zazamail.link","createdAt":"2026-08-26T01:13:38.772Z","favourite":false,"name":"pulumi-test-inbox-b49b39da","tags":["pulumi-test-shared"],"teamAccess":true,"inboxType":"HTTP_INBOX","virtualInbox":true,"expiresAt":null,"functionsAs":null,"userId":"b007b614-bf26-4e9f-a1cf-da013f937815","description":"The shared inbox of the pulumi-mailslurp integration suite.","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.606959ms
[...]
