---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/domains
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.874708ms
    - id: 1
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:13:39Z"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/inboxes/paginated?page=0&since=2026-08-19T01%3A13%3A39Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[{"id":"079ca4c2-a602-4031-b8bd-0c02b5e23513","domainId":null,"emailAddress":"d34e4688-31ff-48d2-b898-21d34f22549e@sandbox.zazamail.link","createdAt":"2026-08-26T01:13:38.772Z","favourite":false,"name":"pulumi-test-inbox-b49b39da","tags":["pulumi-test-shared"],"teamAccess":true,"inboxType":"HTTP_INBOX","virtualInbox":true,"expiresAt":null,"functionsAs":null,"userId":"b007b614-bf26-4e9f-a1cf-da013f937815","description":"The shared inbox of the pulumi-mailslurp integration suite.","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"numberOfElements":1,"first":true,"empty":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.30825ms
    - id: 2
      request:
        host: api.mailslurp.com
        form:
            includeAccountWide:
                - "true"
            page:
                - "0"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/webhooks/paginated?includeAccountWide=true&page=0&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.230459ms
    - id: 3
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/079ca4c2-a602-4031-b8bd-0c02b5e23513
        method: GET
      response:
        body: '{"id":"079ca4c2-a602-4031-b8bd-0c02b5e23513","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:13:38.772Z","createdAt":"2026-08-26T01:13:38.772Z","name":"pulumi-test-inbox-b49b39da","domainId":null,"description":"The shared inbox of the pulumi-mailslurp integration suite.","emailAddress":"d34e4688-31ff-48d2-b898-21d34f22549e@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":["pulumi-test-shared"],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"d34e4688-31ff-48d2-b898-21d34f22549e","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.387625ms
[...]
