---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-9d864e8f","content":"Hello {{firstName}}"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates
        method: POST
      response:
        body: '{"id":"60fa2a1a-10cb-4f4e-b916-285740150427","name":"pulumi-test-template-9d864e8f","variables":[{"name":"firstName","variableType":"STRING"}],"content":"Hello {{firstName}}","createdAt":"2026-08-26T01:13:37.029Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 469.976458ms
    - id: 1
      request:
        host: api.mailslurp.com
        form:
            page:
                - "0"
            since:
                - "2026-08-19T01:13:37Z"
            size:
                - "20"
            sort:
                - DESC
        url: https://api.mailslurp.com/templates/paginated?page=0&since=2026-08-19T01%3A13%3A37Z&size=20&sort=DESC
        method: GET
      response:
        body: '{"content":[{"name":"pulumi-test-template-9d864e8f","id":"60fa2a1a-10cb-4f4e-b916-285740150427","createdAt":"2026-08-26T01:13:37.029Z","updatedAt":"2026-08-26T01:13:37.029Z","variables":["firstName"]}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"totalPages":-1,"totalElements":-1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"empty":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.57625ms
[...]
    - id: 3
      request:
        host: api.mailslurp.com
        body: '{"name":"pulumi-test-template-9d864e8f","content":"Hello {{firstName}} and {{lastName}}"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.mailslurp.com/templates/60fa2a1a-10cb-4f4e-b916-285740150427
        method: PUT
      response:
        body: '{"id":"60fa2a1a-10cb-4f4e-b916-285740150427","name":"pulumi-test-template-9d864e8f","variables":[{"name":"firstName","variableType":"STRING"},{"name":"lastName","variableType":"STRING"}],"content":"Hello {{firstName}} and {{lastName}}","createdAt":"2026-08-26T01:13:37.029Z"}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 148.379417ms
[...]
