---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/079ca4c2-a602-4031-b8bd-0c02b5e23513
        method: GET
      response:
        body: '{"id":"079ca4c2-a602-4031-b8bd-0c02b5e23513","userId":"b007b614-bf26-4e9f-a1cf-da013f937815","created":"2026-08-26T01:13:38.772Z","createdAt":"2026-08-26T01:13:38.772Z","name":"pulumi-test-inbox-b49b39da","domainId":null,"description":"The shared inbox of the pulumi-mailslurp integration suite.","emailAddress":"d34e4688-31ff-48d2-b898-21d34f22549e@sandbox.zazamail.link","expiresAt":null,"favourite":false,"tags":["pulumi-test-shared"],"teamAccess":true,"inboxType":"HTTP_INBOX","readOnly":false,"virtualInbox":true,"functionsAs":null,"localPart":"d34e4688-31ff-48d2-b898-21d34f22549e","domain":"sandbox.zazamail.link","accountRegion":"US_WEST_2_ACCOUNT_SES_3","mergedIntoInboxId":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.073166ms
[...]
