---
version: 2
interactions:
    - id: 0
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/inboxes/00000000-0000-0000-0000-000000000000
        method: GET
      response:
        body: |-
            {
              "message" : "Inbox ID 00000000-0000-0000-0000-000000000000 does not exist for user b007b614-bf26-4e9f-a1cf-da013f937815",
              "messageLabel" : null,
              "caseNumber" : "CASE-NF-47432f9e-aaf1-4746-b707-6d56b336dfcf",
              "errorClass" : "Error404NotFound",
              "errorCode" : "W_404_ENTITY_NOT_FOUND",
              "retryable" : null,
              "retryAfterSeconds" : null,
              "details" : null,
              "userId" : "b007b614-bf26-4e9f-a1cf-da013f937815",
              "path" : "/inboxes/00000000-0000-0000-0000-000000000000",
              "method" : "GET",
              "operation" : "getInbox",
              "comment" : "See documentation at `https://docs.mailslurp.com/api/#getInbox`. If your error persists please submit a ticket at `https://www.mailslurp.com/support/`. Please include your error caseNumber `CASE-NF-47432f9e-aaf1-4746-b707-6d56b336dfcf` if available to help support debug the issue. Sharing screenshots or samples of your code will help the team understand."
            }
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 144.766584ms
    - id: 1
      request:
        host: api.mailslurp.com
        url: https://api.mailslurp.com/domains/00000000-0000-0000-0000-000000000000
        method: GET
      response:
        body: |-
            {
              "message" : "No domain found for userId and domain id. Have you created it?",
              "messageLabel" : null,
              "caseNumber" : "CASE-NF-e40c2687-373e-4ca4-9528-7eaa2f781f3f",
              "errorClass" : "Error404NotFound",
              "errorCode" : "W_404_ENTITY_NOT_FOUND",
              "retryable" : null,
              "retryAfterSeconds" : null,
              "details" : null,
              "userId" : "b007b614-bf26-4e9f-a1cf-da013f937815",
              "path" : "/domains/00000000-0000-0000-0000-000000000000",
              "method" : "GET",
              "operation" : "getDomain",
              "comment" : "See documentation at `https://docs.mailslurp.com/api/#getDomain`. If your error persists please submit a ticket at `https://www.mailslurp.com/support/`. Please include your error caseNumber `CASE-NF-e40c2687-373e-4ca4-9528-7eaa2f781f3f` if available to help support debug the issue. Sharing screenshots or samples of your code will help the team understand."
            }
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 123.202791ms
