{"openapi":"3.0.1","info":{"title":"MailSlurp API","description":"MailSlurp is an API for sending and receiving emails and SMS from dynamically allocated email addresses and phone numbers. It's designed for developers and QA teams to test applications, process inbound emails, send templated notifications, attachments, and more.\n\n## Resources\n\n- [Homepage](https://www.mailslurp.com)\n- Get an [API KEY](https://app.mailslurp.com/sign-up/)\n- Generated [SDK Clients](https://docs.mailslurp.com/)\n- [Examples](https://github.com/mailslurp/examples) repository","contact":{"url":"https://www.mailslurp.com/contact/","email":"contact@mailslurp.dev"},"license":{"name":"Apache 2.0","url":"https://www.mailslurp.com"},"version":"6.5.2"},"externalDocs":{"description":"MailSlurp API documentation","url":"https://www.mailslurp.com"},"servers":[{"url":"https://api.mailslurp.com","description":"MailSlurp API Server"}],"security":[{"API_KEY":[]}],"tags":[{"name":"AliasController","description":"\"Endpoints for creating, listing, and deleting email aliases. Aliases must be validated. Email aliases can be used to hide real email addresses behind an alias. If you wish to receive emails with an alias attach an inbox to the alias.\n       Whenever the inbox receives an email the email will be forwarded to the alias email address. See related `threads`. Threads can be used with aliases to enable replying to a proxied email. This means that when threads are enabled an email alias will \n       create a new email thread for the message and set the replyTo and from headers on the subsequently proxied email to point to the threads unique email address. \n       By replying to this address the thread will forward it to the original emails sender or replyTo and use the same subject and bcc and cc contacts as the email you are replying to. For more advanced email operations using aliases use the inboxId for the given alias.\n"},{"name":"EmailController","description":"Endpoints for managing email entities. Send and read email using the email API. You can fetch emails and attachments, reply to emails, and send new emails with this controller. Emails belong to inboxes. \nEach inbox can contain unlimited emails that are either permanent or temporary depending on your setup. Because emails can be quite large when attachments and content are fetched most responses only include a preview of the email and its most important features, like subject, recipients etc and an ID. Many list results are in a paginated form using an index (zero based) and a page size. To receive email decide on either `waitFor` methods (such as `waitForLatestEmail` on the `WaitForController`) to wait for emails to arrive. Use `getEmails` on `EmailController` or `getInboxEmails` on the `InboxController` to list existing emails. To access the body or attachments of an email you need to use the `getEmail` and `getAttachment` endpoints with specific inbox and email IDs. The body is returned on full email entities and contains the parsed body of the email. The email headers (such as recipients, subject etc.) are stored on the email object. You can access the RAW SMTP message via various `raw` methods. Attachments are treated as separate entities that have an ID and belong to the email. To fetch email attachments first fetch the full email then use a `downloadAttachment` method for each `attachmentID`. Attachments are transferred in a number of ways as either `application/octect-stream` byte arrays or as base64 encoded strings with meta data. You may prefer either depending on the environment you are in but the base64 implementations are typically safer. See the `AttachmentController`, `InboxController`, and `WaitForController` for similar methods. \n    "},{"name":"FormController","description":"Form controller for submitting email-able forms"},{"name":"ConsentController","description":"Endpoints for managing double opt-in consent for sending promotional material to external email accounts."},{"name":"RulesetController","description":"Endpoints for creating and managing inbox rulesets. Inbox rulesets are sets of rules that can be automatically applied to inbound and outbound emails for an inbox. Rulesets can have a scope, action, and target. The scope is receiving or sending emails. The action is to block, allow, or forward an email. The target is pattern or email address depending on the action. The handler can be used to handle rules silently or trigger an exception when they occur. See inbox controller for similar methods.\n"},{"name":"SentEmailsController","description":"Endpoints for viewing sent email receipts. These can be used to verify that an email has been sent or for historical records. Email content and attachments are stored. For legacy reasons the default send endpoint does not return a sent email. Use the `sendEmailAndConfirm` methods to receive a sent email receipt after sending."},{"name":"GuestPortalController","description":"\"Endpoints for managing guest portals and customer access to shareable email accounts. Use portals to grant your customers access to unique email accounts with a separate login and viewing endpoint.\n"},{"name":"InboxReplierController","description":"Endpoints for creating and managing inbox repliers. Repliers can automatically reply to emails received by inboxes using rules."},{"name":"SpamEmailController","description":"Endpoints for blocked inbound spam-email records. These records are lightweight metadata-only entries created when inbound mail is intentionally blocked before normal inbox persistence."},{"name":"ExpiredController","description":"View and manage expired inbox records. If an inbox has an expiration date when it is created it will expire at that time and an ExpiredInboxRecord will be created for it listing the email address and inbox ID. You can still view emails belonging to the inbox by using the inbox ID but the inbox can no longer send or receive emails once expired."},{"name":"BulkActionsController","description":"Other endpoints including advanced receive options"},{"name":"ConnectorController","description":"Endpoints for managing inbox connectors that can sync external emails in MailSlurp inboxes"},{"name":"ContactController","description":"Endpoints for managing contacts. Contacts can be used for sending emails to individuals and groups."},{"name":"GroupController","description":"Endpoints for managing groups. Groups can be used for sending emails to individuals and groups."},{"name":"ToolsController","description":"Endpoints for miscellaneous tools."},{"name":"InboxController","description":"Endpoints for creating and managing inboxes. Also includes endpoints for listing emails within inboxes. \nInboxes are a core feature of MailSlurp. Each inbox has a unique ID and emailAddress. If your plan allows custom domains you can create inboxes with custom addresses that end in your domain. \nBy default inboxes are assigned a random email address ending in `@mailslurp.biz`. Use the domainPool options to use a randomly selected domain from a pool of available domains. Whenever you create an inbox MailSlurp will register the address and store any emails sent to the address within your inbox. \nYou can use the `InboxController` endpoints to list the emails in an inbox. To get the contents or attachments of an email use the ID returned from `InboxController` methods to call the `EmailController` endpoints.\"\n"},{"name":"MFAController","description":"Multi-factor authentication (MFA) endpoints for MailSlurp. For controlling virtual TOTP devices.."},{"name":"PhoneController","description":"Endpoints for managing phone numbers and addresses","externalDocs":{"description":"Phone number documentation","url":"https://docs.mailslurp.com/txt-sms/"}},{"name":"DomainMonitorPostmasterController","description":"Google Postmaster OAuth connection and local reputation telemetry snapshots."},{"name":"DomainController","description":"Endpoints for managing custom domains. Once you create a custom domain you must add the returned verification records to your hosting provider. See support or guides for more information."},{"name":"AgentController","description":"Inbox-scoped email automation endpoints for agent API keys. Agent routes enforce both agent-specific permissions and configured inbox resource scopes before delegating to MailSlurp email services."},{"name":"TrackingController","description":"Endpoints for managing tracking entities such as email open and read tracking pixels."},{"name":"WaitForController","description":"Endpoints for receiving emails using waitFor methods. The endpoints are perfect for synchronous blocking calls, long-polling, or tests (see webhooks if you need to respond to email events as they happen using HTTP notification). These wait endpoints are all built around a common idea - that you ask for an expected number of emails from an inbox and MailSlurp will either: A) Return the matching emails if they are present; B) Hold a connection open until the matching emails are are received or until a timeout occurs. For test suites we recommend that you create a new inbox for each test run  and use the waitForLatestEmail to hold the connection until the email you expect arrives. Note if your inbox is not already empty waitFor methods may return immediately depending on their implementation. See each endpoint for more details."},{"name":"InboxForwarderController","description":"Endpoints for creating and managing inbox forwarders. Automatically forward emails received by inboxes using rules."},{"name":"MissedEmailController","description":"Endpoints for managing MissedEmails. Missed emails are saved whenever your account cannot persist a received email because your plan had exceeded a given usage at the time. Missed emails can be restored with the assistance of the support team."},{"name":"CommonActionsController","description":"A collection of common actions. Groups together several controllers behind a facade with convenience methods. Not recommended. It is better in most cases to call the individual controllers directly as they are where many new features are added. The controllers are better documented too. This controller is maintained for backwards compatibility."},{"name":"EmailAuditController","description":"Persist and inspect one-shot email audits that combine validation, compatibility, links, and images."},{"name":"ImapController","description":"Endpoints for performing IMAP like commands on inboxes"},{"name":"CampaignProbeController","description":"Create recipient probes for campaign QA, ingest sends asynchronously via SES monitor, and inspect health trends over time."},{"name":"DevicePreviewsController","description":"Create and manage async device preview render jobs for received emails using ESP service."},{"name":"MissedSmsController","description":"Endpoints for managing missed SMS. Missed SMS records are created when inbound SMS cannot be persisted after receipt."},{"name":"ExportController","description":"Endpoints for exporting user data to CSV, XML and other formats."},{"name":"SmsController","description":"Endpoints for managing SMS"},{"name":"TemplateController","description":"Endpoints for managing Templates. Templates can be used when sending emails and support moustache syntax template variables. Variables can be passed with send email options or implicitly available if Contact Groups are used."},{"name":"AttachmentController","description":"Endpoints for uploading attachments. Attachments can be uploaded in a number of ways: as base64 encoded strings, as byte array octet streams, and as multipart form requests. Each upload method returns an array whose first element is the ID of the attachment. Use this Id to send the attachment with emails. See the EmailController `download` endpoints for downloading attachments. Attachment downloads are based on the email ID they belong to and can be downloaded using the email controller."},{"name":"BounceController","description":"Endpoints for access to bounced emails and bounced recipients"},{"name":"DomainMonitorController","description":"Continuously monitor domain deliverability posture with direct run-now, scheduled execution, insights, and trend analytics."},{"name":"WebhookController","description":"Endpoint for interacting with webhooks. Webhooks have a URL that points to your server. Useful for email forwarding, email API processing and more. They can be added to inboxes and when an inbox receives an email the email ID and inbox ID will be posted to the URL endpoint at your server. The schema of the webhook payload is available at https://api.mailslurp.com/schemas/webhook-payload or by calling https://api.mailslurp.com/webhooks/test. Use webhooks to react in real-time to inbound emails. Use the webhook payload posted to your server to fetch the full emails or attachments if you need them. Use the event ID as an idempotent record. The ID identifies the webhook payload uniquely. MailSlurp tracks webhook processing. It will try not to send the same event twice but it can happen. If you receive the same event more than once you can ignore it and assume it is the same. It is recommended that you use a store or database to track webhooks you have processed to avoid processing events more than once."},{"name":"AIController","description":"AI endpoints for generating structured content, automations, and analyzing emails and SMS."},{"name":"DeliverabilityTestController","description":"Create and manage load tests for inboxes or phone numbers. Tests evaluate expected inbound email/SMS counts over time and support polling for progress and paged entity-level results."}],"paths":{"/webhooks/{webhookId}/headers":{"put":{"tags":["WebhookController"],"summary":"Update a webhook request headers","operationId":"updateWebhookHeaders","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookHeaders"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDto"}}}}}}},"/user/inbox-retention-policies/{policyId}":{"get":{"tags":["UserController"],"description":"Get an inbox retention policy for your account","operationId":"getInboxRetentionPolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyDto"}}}}}},"put":{"tags":["UserController"],"description":"Update an inbox retention policy for your account","operationId":"updateInboxRetentionPolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInboxRetentionPolicyOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyDto"}}}}}},"delete":{"tags":["UserController"],"description":"Delete an inbox retention policy for your account","operationId":"deleteInboxRetentionPolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmptyResponseDto"}}}}}}},"/templates/{templateId}":{"get":{"tags":["TemplateController"],"summary":"Get template","description":"Get email template","operationId":"getTemplate","parameters":[{"name":"templateId","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateDto"}}}}}},"put":{"tags":["TemplateController"],"summary":"Update template","description":"Update email template","operationId":"updateTemplate","parameters":[{"name":"templateId","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTemplateOptions"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateDto"}}}}}},"delete":{"tags":["TemplateController"],"summary":"Delete email template","description":"Delete template","operationId":"deleteTemplate","parameters":[{"name":"templateId","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/sms/{smsId}/favourite":{"put":{"tags":["SmsController"],"operationId":"setSmsFavourited","parameters":[{"name":"smsId","in":"path","description":"ID of SMS to set favourite state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"favourited","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No Content","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsDto"}}}}}}},"/scim/v2/{slug}/Users/{userId}":{"get":{"tags":["SCIM"],"operationId":"getUser","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"put":{"tags":["SCIM"],"operationId":"replaceUser","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["SCIM"],"operationId":"deleteUser","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"patch":{"tags":["SCIM"],"operationId":"patchUser","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimPatchRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}}},"/scim/v2/{slug}/Groups/{groupId}":{"get":{"tags":["SCIM"],"operationId":"getGroup","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"put":{"tags":["SCIM"],"operationId":"replaceGroup","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["SCIM"],"operationId":"deleteGroup","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"patch":{"tags":["SCIM"],"operationId":"patchGroup","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimPatchRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}}},"/rulesets":{"get":{"tags":["RulesetController"],"summary":"List rulesets block and allow lists","description":"List all rulesets attached to an inbox or phone or account","operationId":"getRulesets","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to get rulesets from","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"phoneId","in":"query","description":"Optional phone id to get rulesets from","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","description":"Optional page index in inbox ruleset list pagination","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Optional page size in inbox ruleset list pagination","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"Optional createdAt sort direction ASC or DESC","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"searchFilter","in":"query","description":"Optional search filter","required":false,"schema":{"type":"string"}},{"name":"since","in":"query","description":"Filter by created at after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before","in":"query","description":"Filter by created at before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageRulesetDto"}}}}}},"put":{"tags":["RulesetController"],"summary":"Test inbox rulesets for inbox","description":"Test inbox rulesets for inbox","operationId":"testInboxRulesetsForInbox","parameters":[{"name":"inboxId","in":"query","description":"ID of inbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RulesetTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRulesetTestResult"}}}}}},"post":{"tags":["RulesetController"],"summary":"Create a ruleset","description":"Create a new inbox or phone number rule for forwarding, blocking, and allowing emails or SMS when sending and receiving","operationId":"createNewRuleset","parameters":[{"name":"inboxId","in":"query","description":"Inbox id to attach ruleset to","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"phoneId","in":"query","description":"Phone id to attach ruleset to","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRulesetOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RulesetDto"}}}}}},"delete":{"tags":["RulesetController"],"summary":"Delete rulesets","description":"Delete rulesets. Accepts optional inboxId or phoneId filters.","operationId":"deleteRulesets","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to attach ruleset to","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"phoneId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["RulesetController"],"summary":"Test new ruleset","description":"Test new ruleset","operationId":"testNewRuleset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestNewInboxRulesetOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRulesetTestResult"}}}}}}},"/repliers/{id}":{"get":{"tags":["InboxReplierController"],"summary":"Get an inbox replier","description":"Get inbox ruleset","operationId":"getInboxReplier","parameters":[{"name":"id","in":"path","description":"ID of inbox replier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxReplierDto"}}}}}},"put":{"tags":["InboxReplierController"],"summary":"Update an inbox replier","description":"Update inbox ruleset","operationId":"updateInboxReplier","parameters":[{"name":"id","in":"path","description":"ID of inbox replier","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInboxReplierOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxReplierDto"}}}}}},"delete":{"tags":["InboxReplierController"],"summary":"Delete an inbox replier","description":"Delete inbox replier","operationId":"deleteInboxReplier","parameters":[{"name":"id","in":"path","description":"ID of inbox replier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/phone/pools/{poolId}":{"get":{"tags":["PhoneController"],"summary":"Get phone pool","description":"Get phone pool details by ID","operationId":"getPhonePool","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhonePoolDetailDto"}}}}}},"put":{"tags":["PhoneController"],"summary":"Update phone pool","description":"Update phone pool metadata such as name or description","operationId":"updatePhonePool","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePhonePoolOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhonePoolDetailDto"}}}}}},"delete":{"tags":["PhoneController"],"summary":"Delete phone pool","description":"Delete a phone pool and release any active leases from that pool","operationId":"deletePhonePool","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/phone/numbers/{phoneNumberId}":{"get":{"tags":["PhoneController"],"summary":"Get a phone number by ID","description":"Get a phone number by ID","operationId":"getPhoneNumber","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}},"put":{"tags":["PhoneController"],"summary":"Update a phone number","description":"Set field for phone number","operationId":"updatePhoneNumber","parameters":[{"name":"phoneNumberId","in":"path","description":"ID of phone to set favourite state","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePhoneNumberOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}},"delete":{"tags":["PhoneController"],"summary":"Delete a phone number","description":"Remove phone number from account","operationId":"deletePhoneNumber","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/phone/numbers/{phoneNumberId}/tags":{"get":{"tags":["PhoneController"],"summary":"Get phone number tags","description":"Get tags for a specific phone number","operationId":"getPhoneNumberTags","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"put":{"tags":["PhoneController"],"summary":"Set phone number tags","description":"Replace all tags on a phone number","operationId":"setPhoneNumberTags","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberTagsOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}},"post":{"tags":["PhoneController"],"summary":"Add phone number tags","description":"Add one or more tags to a phone number","operationId":"addPhoneNumberTags","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberTagsOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}},"delete":{"tags":["PhoneController"],"summary":"Remove phone number tags","description":"Remove one or more tags from a phone number","operationId":"removePhoneNumberTags","parameters":[{"name":"phoneNumberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneNumberTagsOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}}},"/phone/numbers/{phoneNumberId}/favourite":{"put":{"tags":["PhoneController"],"summary":"Set phone favourited state","description":"Set and return new favorite state for a phone","operationId":"setPhoneFavourited","parameters":[{"name":"phoneNumberId","in":"path","description":"ID of phone to set favourite state","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetPhoneFavouritedOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}}},"/mfa/totp/device/{id}":{"get":{"tags":["MFAController"],"summary":"Get a TOTP device by ID","description":"Get Time-Based One-Time Password (TOTP) device by its ID.","operationId":"getTotpDevice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeviceDto"}}}}}},"put":{"tags":["MFAController"],"summary":"Update a TOTP device","description":"Update stored metadata and TOTP settings for a device by ID.","operationId":"updateTotpDevice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTotpDeviceOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeviceDto"}}}}}},"delete":{"tags":["MFAController"],"summary":"Delete a TOTP device","description":"Delete a Time-Based One-Time Password (TOTP) device by ID.","operationId":"deleteTotpDevice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/inboxes/{inboxId}/favourite":{"put":{"tags":["InboxController"],"summary":"Set inbox favourited state","description":"Set and return new favorite state for an inbox","operationId":"setInboxFavourited","parameters":[{"name":"inboxId","in":"path","description":"ID of inbox to set favourite state","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetInboxFavouritedOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxDto"}}}}}}},"/groups/{groupId}/contacts":{"get":{"tags":["GroupController"],"summary":"Get group and contacts belonging to it","operationId":"getGroupWithContacts","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupContactsDto"}}}}}},"put":{"tags":["GroupController"],"summary":"Add contacts to a group","operationId":"addContactsToGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupContacts"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupContactsDto"}}}}}},"delete":{"tags":["GroupController"],"summary":"Remove contacts from a group","operationId":"removeContactsFromGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupContacts"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupContactsDto"}}}}}}},"/forwarders":{"get":{"tags":["InboxForwarderController"],"summary":"List inbox forwarders","description":"List all forwarders attached to an inbox","operationId":"getInboxForwarders","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to get forwarders from","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","description":"Optional page index in inbox forwarder list pagination","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Optional page size in inbox forwarder list pagination","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"Optional createdAt sort direction ASC or DESC","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"searchFilter","in":"query","description":"Optional search filter","required":false,"schema":{"type":"string"}},{"name":"since","in":"query","description":"Filter by created at after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before","in":"query","description":"Filter by created at before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInboxForwarderDto"}}}}}},"put":{"tags":["InboxForwarderController"],"summary":"Test inbox forwarders for inbox","description":"Test inbox forwarders for inbox","operationId":"testInboxForwardersForInbox","parameters":[{"name":"inboxId","in":"query","description":"ID of inbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboxForwarderTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxForwarderTestResult"}}}}}},"post":{"tags":["InboxForwarderController"],"summary":"Create an inbox forwarder","description":"Create a new inbox rule for forwarding, blocking, and allowing emails when sending and receiving","operationId":"createNewInboxForwarder","parameters":[{"name":"inboxId","in":"query","description":"Inbox id to attach forwarder to","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboxForwarderOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxForwarderDto"}}}}}},"delete":{"tags":["InboxForwarderController"],"summary":"Delete inbox forwarders","description":"Delete inbox forwarders. Accepts optional inboxId filter.","operationId":"deleteInboxForwarders","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to attach forwarder to","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["InboxForwarderController"],"summary":"Test new inbox forwarder","description":"Test new inbox forwarder","operationId":"testNewInboxForwarder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestNewInboxForwarderOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxForwarderTestResult"}}}}}}},"/forwarders/{id}":{"get":{"tags":["InboxForwarderController"],"summary":"Get an inbox forwarder","description":"Get inbox forwarder","operationId":"getInboxForwarder","parameters":[{"name":"id","in":"path","description":"ID of inbox forwarder","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxForwarderDto"}}}}}},"put":{"tags":["InboxForwarderController"],"summary":"Update an inbox forwarder","description":"Update inbox forwarder","operationId":"updateInboxForwarder","parameters":[{"name":"id","in":"path","description":"ID of inbox forwarder","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboxForwarderOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxForwarderDto"}}}}}},"delete":{"tags":["InboxForwarderController"],"summary":"Delete an inbox forwarder","description":"Delete inbox forwarder","operationId":"deleteInboxForwarder","parameters":[{"name":"id","in":"path","description":"ID of inbox forwarder","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/emails/{emailId}":{"get":{"tags":["EmailController"],"summary":"Get hydrated email (headers and body)","description":"Returns parsed email content including headers and body fields. Accessing hydrated content may mark the email as read depending on read-state rules.","operationId":"getEmail","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Email"}}}}}},"put":{"tags":["EmailController"],"summary":"Reply to an email","description":"Sends a reply using the original conversation context (subject/thread headers). Reply target resolution honors sender/reply-to semantics.","operationId":"replyToEmail","parameters":[{"name":"emailId","in":"path","description":"ID of the email that should be replied to","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyToEmailOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentEmailDto"}}}}}},"delete":{"tags":["EmailController"],"summary":"Delete an email","description":"Deletes a single email from account scope. Operation is destructive and not reversible.","operationId":"deleteEmail","parameters":[{"name":"emailId","in":"path","description":"ID of email to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/emails/{emailId}/favourite":{"put":{"tags":["EmailController"],"summary":"Set email favourited state","description":"Sets favourite state for an email for dashboard/search workflows.","operationId":"setEmailFavourited","parameters":[{"name":"emailId","in":"path","description":"ID of email to set favourite state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"favourited","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No Content"}}}},"/emails/{emailId}/device-previews/latest":{"put":{"tags":["DevicePreviewsController"],"summary":"Return active run for email or create one when none exists","operationId":"ensureDevicePreviewRun","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDevicePreviewOptions"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateDevicePreviewRunResult"}}}}}}},"/emails/device-previews/profiles/{profileId}":{"get":{"tags":["DevicePreviewsController"],"summary":"Get a device preview profile","operationId":"getDevicePreviewProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewProfileDto"}}}}}},"put":{"tags":["DevicePreviewsController"],"summary":"Update a device preview profile","operationId":"updateDevicePreviewProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDevicePreviewProfileOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewProfileDto"}}}}}},"delete":{"tags":["DevicePreviewsController"],"summary":"Delete a device preview profile","operationId":"deleteDevicePreviewProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteDevicePreviewProfileResult"}}}}}}},"/emails/device-previews/feedback/{feedbackId}":{"get":{"tags":["DevicePreviewsController"],"summary":"Get a single device preview feedback item","operationId":"getDevicePreviewFeedback","parameters":[{"name":"feedbackId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewFeedbackDto"}}}}}},"put":{"tags":["DevicePreviewsController"],"summary":"Update device preview feedback","operationId":"updateDevicePreviewFeedback","parameters":[{"name":"feedbackId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDevicePreviewFeedbackOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewFeedbackDto"}}}}}}},"/emails/device-previews/email-domain":{"put":{"tags":["DevicePreviewsController"],"summary":"Return account device preview email domain setup or create one","operationId":"getDevicePreviewEmailDomainOrCreate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewAccountSettingsDto"}}}}}}},"/emails/device-previews/email-domain/subdomain":{"put":{"tags":["DevicePreviewsController"],"summary":"Update account device preview email subdomain","operationId":"updateDevicePreviewEmailDomainSubdomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDevicePreviewIngestDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevicePreviewAccountSettingsDto"}}}}}}},"/domains/{id}":{"get":{"tags":["DomainController"],"summary":"Get a domain","description":"Returns domain verification status and tokens for a given domain","operationId":"getDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"checkForErrors","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}},"put":{"tags":["DomainController"],"summary":"Update a domain","description":"Update values on a domain. Note you cannot change the domain name as it is immutable. Recreate the domain if you need to alter this.","operationId":"updateDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainDto"}}}}}},"delete":{"tags":["DomainController"],"summary":"Delete a domain","description":"Delete a domain. This will disable any existing inboxes that use this domain.","operationId":"deleteDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/domain-monitor/monitors/{monitorId}":{"get":{"tags":["DomainMonitorController"],"summary":"Get domain monitor","operationId":"getDomainMonitor","parameters":[{"name":"monitorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainMonitorDto"}}}}}},"put":{"tags":["DomainMonitorController"],"summary":"Update domain monitor","operationId":"updateDomainMonitor","parameters":[{"name":"monitorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDomainMonitorOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainMonitorDto"}}}}}},"delete":{"tags":["DomainMonitorController"],"summary":"Delete domain monitor","operationId":"deleteDomainMonitor","parameters":[{"name":"monitorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/connectors/{id}":{"get":{"tags":["ConnectorController"],"summary":"Get an inbox connector","operationId":"getConnector","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectorDto"}}}}}},"put":{"tags":["ConnectorController"],"summary":"Update an inbox connector","operationId":"updateConnector","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConnectorOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectorDto"}}}}}},"delete":{"tags":["ConnectorController"],"summary":"Delete an inbox connector","operationId":"deleteConnector","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/campaign-probe/probes/{probeId}":{"get":{"tags":["CampaignProbeController"],"summary":"Get campaign probe","operationId":"getCampaignProbe","parameters":[{"name":"probeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignProbeDto"}}}}}},"put":{"tags":["CampaignProbeController"],"summary":"Update campaign probe","operationId":"updateCampaignProbe","parameters":[{"name":"probeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCampaignProbeOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CampaignProbeDto"}}}}}},"delete":{"tags":["CampaignProbeController"],"summary":"Delete campaign probe","operationId":"deleteCampaignProbe","parameters":[{"name":"probeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/aliases/{aliasId}":{"get":{"tags":["AliasController"],"summary":"Get an email alias","description":"Get an email alias by ID","operationId":"getAlias","parameters":[{"name":"aliasId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AliasDto"}}}}}},"put":{"tags":["AliasController"],"summary":"Update an email alias","operationId":"updateAlias","parameters":[{"name":"aliasId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAliasOptions"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AliasDto"}}}}}},"delete":{"tags":["AliasController"],"summary":"Delete an email alias","operationId":"deleteAlias","parameters":[{"name":"aliasId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/aliases/{aliasId}/emails/{emailId}":{"put":{"tags":["AliasController"],"summary":"Reply to an email","description":"Send the reply to the email sender or reply-to and include same subject cc bcc etc. Reply to an email and the contents will be sent with the existing subject to the emails `to`, `cc`, and `bcc`.","operationId":"replyToAliasEmail","parameters":[{"name":"aliasId","in":"path","description":"ID of the alias that email belongs to","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"emailId","in":"path","description":"ID of the email that should be replied to","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyToAliasEmailOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentEmailDto"}}}}}}},"/webhooks":{"post":{"tags":["WebhookController"],"summary":"Attach a WebHook URL to an inbox","description":"Get notified of account level events such as bounce and bounce recipient.","operationId":"createAccountWebhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookOptions"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDto"}}}}}},"delete":{"tags":["WebhookController"],"summary":"Delete all webhooks","operationId":"deleteAllWebhooks","parameters":[{"name":"before","in":"query","description":"before","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"204":{"description":"No Content"}}}},"/webhooks/{webhookId}/test":{"post":{"tags":["WebhookController"],"summary":"Send webhook test data","operationId":"sendTestData","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookTestResult"}}}}}}},"/webhooks/{webhookId}/schema":{"post":{"tags":["WebhookController"],"description":"Get JSON Schema definition for webhook payload","operationId":"getJsonSchemaForWebhookPayload","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JSONSchemaDto"}}}}}}},"/webhooks/{webhookId}/example":{"post":{"tags":["WebhookController"],"description":"Get example payload for webhook","operationId":"getTestWebhookPayloadForWebhook","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AbstractWebhookPayload"}}}}}}},"/webhooks/verify":{"post":{"tags":["WebhookController"],"summary":"Verify a webhook payload signature","description":"Verify a webhook payload using the messageId and signature. This allows you to be sure that MailSlurp sent the payload and not another server.","operationId":"verifyWebhookSignature","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyWebhookSignatureOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyWebhookSignatureResults"}}}}}}},"/webhooks/schema":{"post":{"tags":["WebhookController"],"description":"Get JSON Schema definition for webhook payload by event","operationId":"getJsonSchemaForWebhookEvent","parameters":[{"name":"event","in":"query","required":true,"schema":{"type":"string","enum":["EMAIL_RECEIVED","NEW_AI_TRANSFORM_RESULT","NEW_EMAIL","NEW_CONTACT","NEW_ATTACHMENT","EMAIL_OPENED","EMAIL_READ","DELIVERY_STATUS","BOUNCE","BOUNCE_RECIPIENT","NEW_SMS","NEW_GUEST_USER"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JSONSchemaDto"}}}}}}},"/webhooks/results/{webhookResultId}/redrive":{"post":{"tags":["WebhookController"],"summary":"Get a webhook result and try to resend the original webhook payload","description":"Allows you to resend a webhook payload that was already sent. Webhooks that fail are retried automatically for 24 hours and then put in a dead letter queue. You can retry results manually using this method.","operationId":"redriveWebhookResult","parameters":[{"name":"webhookResultId","in":"path","description":"Webhook Result ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookRedriveResult"}}}}}}},"/webhooks/results/redrive":{"post":{"tags":["WebhookController"],"summary":"Redrive all webhook results that have failed status","description":"Allows you to resend webhook payloads for any recorded webhook result that failed to deliver the payload.","operationId":"redriveAllWebhookResults","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookRedriveAllResult"}}}}}}},"/waitFor":{"post":{"tags":["WaitForController"],"summary":"Wait for an email to match the provided filter conditions such as subject contains keyword.","description":"Generic waitFor method that will wait until an inbox meets given conditions or return immediately if already met","operationId":"waitFor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitForConditions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailPreview"}}}}}}}},"/waitForSms":{"post":{"tags":["WaitForController"],"summary":"Wait for an SMS message to match the provided filter conditions such as body contains keyword.","description":"Generic waitFor method that will wait until a phone number meets given conditions or return immediately if already met","operationId":"waitForSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitForSmsConditions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SmsPreview"}}}}}}}},"/waitForMatchingFirstEmail":{"post":{"tags":["WaitForController"],"summary":"Wait for or return the first email that matches provided MatchOptions array","description":"Perform a search of emails in an inbox with the given patterns. If a result if found then return or else retry the search until a result is found or timeout is reached. Match options allow simple CONTAINS or EQUALS filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions` object for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}] }`. You can use an array of matches and they will be applied sequentially to filter out emails. If you want to perform matches and extractions of content using Regex patterns see the EmailController `getEmailContentMatch` method.","operationId":"waitForMatchingFirstEmail","parameters":[{"name":"inboxId","in":"query","description":"Id of the inbox we are matching an email for","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"timeout","in":"query","description":"Max milliseconds to wait","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"unreadOnly","in":"query","description":"Optional filter for unread only","required":false,"schema":{"type":"boolean","default":false}},{"name":"since","in":"query","description":"Filter for emails that were received after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before","in":"query","description":"Filter for emails that were received before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"delay","in":"query","description":"Max milliseconds delay between calls","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Email"}}}}}}},"/waitForMatchingEmails":{"post":{"tags":["WaitForController"],"summary":"Wait or return list of emails that match simple matching patterns","description":"Perform a search of emails in an inbox with the given patterns. If results match expected count then return or else retry the search until results are found or timeout is reached. Match options allow simple CONTAINS or EQUALS filtering on SUBJECT, TO, BCC, CC, and FROM. See the `MatchOptions` object for options. An example payload is `{ matches: [{field: 'SUBJECT',should:'CONTAIN',value:'needle'}] }`. You can use an array of matches and they will be applied sequentially to filter out emails. If you want to perform matches and extractions of content using Regex patterns see the EmailController `getEmailContentMatch` method.","operationId":"waitForMatchingEmails","parameters":[{"name":"inboxId","in":"query","description":"Id of the inbox we are fetching emails from","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"count","in":"query","description":"Number of emails to wait for. Must be greater or equal to 1","required":true,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32"}},{"name":"before","in":"query","description":"Filter for emails that were received before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"since","in":"query","description":"Filter for emails that were received after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"delay","in":"query","description":"Max milliseconds delay between calls","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"timeout","in":"query","description":"Max milliseconds to wait","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"unreadOnly","in":"query","description":"Optional filter for unread only","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailPreview"}}}}}}}},"/waitForLatestSms":{"post":{"tags":["WaitForController"],"summary":"Wait for the latest SMS message to match the provided filter conditions such as body contains keyword.","description":"Wait until a phone number meets given conditions or return immediately if already met","operationId":"waitForLatestSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaitForSingleSmsOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsDto"}}}}}}},"/user/json/pluck":{"post":{"tags":["UserController"],"description":"Utility function to extract properties from JSON objects in language where this is cumbersome.","operationId":"getJsonPropertyAsString","parameters":[{"name":"property","in":"query","description":"JSON property name or dot separated path selector such as `a.b.c`","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/user/inbox-retention-policies":{"get":{"tags":["UserController"],"description":"List inbox retention policies for your account","operationId":"listInboxRetentionPolicies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPoliciesDto"}}}}}},"post":{"tags":["UserController"],"description":"Create an inbox retention policy for your account","operationId":"createInboxRetentionPolicy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboxRetentionPolicyOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyDto"}}}}}}},"/user/inbox-retention-policies/account":{"get":{"tags":["UserController"],"description":"Get inbox retention policy for your global account","operationId":"getInboxRetentionPolicyForAccount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyOptionalDto"}}}}}},"post":{"tags":["UserController"],"description":"Create inbox retention policy for your global account","operationId":"createOrUpdateInboxRetentionPolicyForAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboxRetentionPolicyForAccountOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyDto"}}}}}},"delete":{"tags":["UserController"],"description":"Delete inbox retention policy for your global account","operationId":"deleteInboxRetentionPolicyForAccount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmptyResponseDto"}}}}}}},"/user/inbox-retention-policies/account/run":{"post":{"tags":["UserController"],"description":"Start an asynchronous inbox retention policy run for your account","operationId":"createInboxRetentionPolicyRun","responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRetentionPolicyRunDto"}}}}}}},"/tracking/pixels":{"get":{"tags":["TrackingController"],"summary":"Get tracking pixels","description":"List tracking pixels in paginated form","operationId":"getAllTrackingPixels","parameters":[{"name":"page","in":"query","description":"Optional page index in list pagination","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Optional page size in list pagination","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"Optional createdAt sort direction ASC or DESC","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"searchFilter","in":"query","description":"Optional search filter","required":false,"schema":{"type":"string"}},{"name":"since","in":"query","description":"Filter by created at after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before","in":"query","description":"Filter by created at before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTrackingPixelProjection"}}}}}},"post":{"tags":["TrackingController"],"summary":"Create tracking pixel","description":"Create a tracking pixel. A tracking pixel is an image that can be embedded in an email. When the email is viewed and the image is seen MailSlurp will mark the pixel as seen. Use tracking pixels to monitor email open events. You can receive open notifications via webhook or by fetching the pixel.","operationId":"createTrackingPixel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTrackingPixelOptions"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrackingPixelDto"}}}}}}},"/tools/test-smtp-server":{"post":{"tags":["ToolsController"],"summary":"Run a conservative SMTP connectivity, TLS, and AUTH diagnostic","operationId":"testSmtpServer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestSmtpServerOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestSmtpServerResults"}}}}}}},"/tools/spam-test":{"post":{"tags":["ToolsController"],"summary":"Create a public spam test","description":"Create an unauthenticated inbox placement run for public tools users. Returns seed addresses and a tracking token immediately.","operationId":"createPublicSpamTest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePublicSpamTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicSpamTestRunDto"}}}}}}},"/tools/spam-test/{id}/submit":{"post":{"tags":["ToolsController"],"summary":"Mark a public spam test as submitted","description":"Marks a previously created public spam test as submitted after the caller has sent the test email to the seed addresses.","operationId":"submitPublicSpamTest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitPublicSpamTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicSpamTestRunDto"}}}}}}},"/tools/lookup-tls-reporting-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup a TLS reporting domain policy","operationId":"lookupTlsReportingDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTlsReportingDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupTlsReportingDomainResults"}}}}}}},"/tools/lookup-spf-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup and validate an SPF record","operationId":"lookupSpfDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupSpfDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupSpfDomainResults"}}}}}}},"/tools/lookup-ptr":{"post":{"tags":["ToolsController"],"summary":"Lookup PTR records for an IP address","operationId":"lookupPtr","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupPtrOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupPtrResults"}}}}}}},"/tools/lookup-mx-records":{"post":{"tags":["ToolsController"],"summary":"Lookup a MX records for a domain","operationId":"lookupMxRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupMxRecordsOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupMxRecordsResults"}}}}}}},"/tools/lookup-mta-sts-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup a MTA-STS domain policy","operationId":"lookupMtaStsDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupMtaStsDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupMtaStsDomainResults"}}}}}}},"/tools/lookup-dmarc-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup a DMARC record policy","operationId":"lookupDmarcDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupDmarcDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupDmarcDomainResults"}}}}}}},"/tools/lookup-dkim-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup and validate a DKIM record","operationId":"lookupDkimDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupDkimDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupDkimDomainResults"}}}}}}},"/tools/lookup-bimi-domain":{"post":{"tags":["ToolsController"],"summary":"Lookup a BIMI record policy","operationId":"lookupBimiDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupBimiDomainOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LookupBimiDomainResults"}}}}}}},"/tools/generate-tls-reporting-record":{"post":{"tags":["ToolsController"],"summary":"Create a TLS reporting record policy","operationId":"generateTlsReportingRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateTlsReportingRecordOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateTlsReportingRecordResults"}}}}}}},"/tools/generate-spf-record":{"post":{"tags":["ToolsController"],"summary":"Create an SPF record","operationId":"generateSpfRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateSpfRecordOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateSpfRecordResults"}}}}}}},"/tools/generate-mta-sts-record":{"post":{"tags":["ToolsController"],"summary":"Create a TLS reporting record policy","operationId":"generateMtaStsRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateMtaStsRecordOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateMtaStsRecordResults"}}}}}}},"/tools/generate-dmarc-record":{"post":{"tags":["ToolsController"],"summary":"Create a DMARC record policy","operationId":"generateDmarcRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateDmarcRecordOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateDmarcRecordResults"}}}}}}},"/tools/generate-bimi-record":{"post":{"tags":["ToolsController"],"summary":"Create a BIMI record policy","operationId":"generateBimiRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateBimiRecordOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateBimiRecordResults"}}}}}}},"/tools/fake-email":{"get":{"tags":["ToolsController"],"summary":"Get a fake email by its ID","description":"Get a fake email by its ID","operationId":"getFakeEmailById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FakeEmailResult"}}}}}},"post":{"tags":["ToolsController"],"summary":"Create a new email address using the fake email domains","operationId":"createNewFakeEmailAddress","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NewFakeEmailAddressResult"}}}}}},"delete":{"tags":["ToolsController"],"summary":"Delete a fake email address using the fake email domains","description":"Delete a fake email address using the fake email domains","operationId":"deleteNewFakeEmailAddress","parameters":[{"name":"emailAddress","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/tools/device-render-test":{"post":{"tags":["ToolsController"],"summary":"Create a public email render test","description":"Creates an unauthenticated free email render test and returns a short-lived generated email address.","operationId":"createPublicDeviceRenderTest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePublicDeviceRenderTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicDeviceRenderTestDto"}}}}}}},"/tools/device-render-test/{id}/html":{"post":{"tags":["ToolsController"],"summary":"Submit HTML to a public email render test","operationId":"submitPublicDeviceRenderHtml","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitPublicDeviceRenderHtmlOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicDeviceRenderTestDto"}}}}}}},"/tools/device-render-test/{id}/eml":{"post":{"tags":["ToolsController"],"summary":"Submit an EML file to a public email render test","operationId":"submitPublicDeviceRenderEml","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicDeviceRenderTestDto"}}}}}}},"/tools/check-email-features-client-support":{"post":{"tags":["ToolsController"],"summary":"Check email client support for email HTML and CSS features","operationId":"checkEmailFeaturesClientSupport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckEmailFeaturesClientSupportOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckEmailFeaturesClientSupportResults"}}}}}}},"/tools/check-email-blacklists":{"post":{"tags":["ToolsController"],"summary":"Check whether a domain or IP appears on configured DNS blacklists","operationId":"checkEmailBlacklist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckEmailBlacklistOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckEmailBlacklistResults"}}}}}}},"/tools/check-email-auth-stack":{"post":{"tags":["ToolsController"],"summary":"Run a one-shot combined SPF, DKIM, DMARC, BIMI, MX, MTA-STS, and TLS-RPT check","operationId":"checkEmailAuthStack","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckEmailAuthStackOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckEmailAuthStackResults"}}}}}}},"/tools/check-email-audit":{"post":{"tags":["ToolsController"],"summary":"Run a one-shot free email audit across links, images, HTML, and client support","operationId":"checkEmailAudit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckEmailAuditOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailAuditAnalysisResult"}}}}}}},"/tools/check-domain-monitor":{"post":{"tags":["ToolsController"],"summary":"Run a one-shot free domain monitor posture check","operationId":"checkDomainMonitor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckDomainMonitorOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckDomainMonitorResults"}}}}}}},"/tools/check-dns-propagation":{"post":{"tags":["ToolsController"],"summary":"Check DNS propagation for a host and record type across configured resolvers","operationId":"checkDnsPropagation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckDnsPropagationOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckDnsPropagationResults"}}}}}}},"/tools/check-campaign-probe":{"post":{"tags":["ToolsController"],"summary":"Run a one-shot free campaign probe preflight check","operationId":"checkCampaignProbe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckCampaignProbeOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckCampaignProbeResults"}}}}}}},"/tools/analyze-email-headers":{"post":{"tags":["ToolsController"],"summary":"Analyze email headers for auth results and delivery path","operationId":"analyzeEmailHeaders","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyzeEmailHeadersOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnalyzeEmailHeadersResults"}}}}}}},"/tools/analyze-dmarc-report":{"post":{"tags":["ToolsController"],"summary":"Parse and summarize a DMARC aggregate XML report","operationId":"analyzeDmarcReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyzeDmarcReportOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnalyzeDmarcReportResults"}}}}}}},"/test/deliverability":{"get":{"tags":["DeliverabilityTestController"],"summary":"List load tests","description":"List load tests for the authenticated account.","operationId":"getDeliverabilityTests","parameters":[{"name":"page","in":"query","description":"Page index","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestPageDto"}}}}}},"post":{"tags":["DeliverabilityTestController"],"summary":"Create load test","description":"Create a load test for inboxes or phone numbers using ALL, PATTERN, or EXPLICIT selector scope.","operationId":"createDeliverabilityTest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliverabilityTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestDto"}}}}}}},"/test/deliverability/{testId}/stop":{"post":{"tags":["DeliverabilityTestController"],"summary":"Stop load test","description":"Stop a load test and mark it terminal.","operationId":"stopDeliverabilityTest","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestDto"}}}}}}},"/test/deliverability/{testId}/start":{"post":{"tags":["DeliverabilityTestController"],"summary":"Start or resume load test","description":"Start a CREATED test or resume a PAUSED/SCHEDULED test.","operationId":"startDeliverabilityTest","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestDto"}}}}}}},"/test/deliverability/{testId}/simulation-jobs":{"post":{"tags":["DeliverabilityTestController"],"summary":"Create deliverability simulation job","description":"Create and start a simulation job for a running load test. Only one active simulation job is allowed per user.","operationId":"createDeliverabilitySimulationJob","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeliverabilitySimulationJobOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilitySimulationJobDto"}}}}}}},"/test/deliverability/{testId}/simulation-jobs/{jobId}/resume":{"post":{"tags":["DeliverabilityTestController"],"summary":"Resume deliverability simulation job","description":"Resume a paused simulation job.","operationId":"resumeDeliverabilitySimulationJob","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilitySimulationJobDto"}}}}}}},"/test/deliverability/{testId}/simulation-jobs/{jobId}/pause":{"post":{"tags":["DeliverabilityTestController"],"summary":"Pause deliverability simulation job","description":"Pause a running simulation job.","operationId":"pauseDeliverabilitySimulationJob","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilitySimulationJobDto"}}}}}}},"/test/deliverability/{testId}/simulation-jobs/{jobId}/cancel":{"post":{"tags":["DeliverabilityTestController"],"summary":"Cancel deliverability simulation job","description":"Cancel a running or paused simulation job.","operationId":"cancelDeliverabilitySimulationJob","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilitySimulationJobDto"}}}}}}},"/test/deliverability/{testId}/pause":{"post":{"tags":["DeliverabilityTestController"],"summary":"Pause load test","description":"Pause a RUNNING or SCHEDULED load test.","operationId":"pauseDeliverabilityTest","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestDto"}}}}}}},"/test/deliverability/{testId}/duplicate":{"post":{"tags":["DeliverabilityTestController"],"summary":"Duplicate load test","description":"Create a fresh load test using an existing test configuration, including selector scope, exclusions, and expectations.","operationId":"duplicateDeliverabilityTest","parameters":[{"name":"testId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliverabilityTestDto"}}}}}}},"/templates":{"get":{"tags":["TemplateController"],"summary":"List templates","description":"Get all templates","operationId":"getTemplates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateProjection"}}}}}}},"post":{"tags":["TemplateController"],"summary":"Create a Template","description":"Create an email template with variables for use with templated transactional emails.","operationId":"createTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTemplateOptions"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateDto"}}}}}}},"/sms/{smsId}/reply":{"get":{"tags":["SmsController"],"summary":"Get reply for an SMS message","description":"Get reply for an SMS message.","operationId":"getReplyForSmsMessage","parameters":[{"name":"smsId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyForSms"}}}}}},"post":{"tags":["SmsController"],"summary":"Send a reply to a received SMS message. Replies are sent from the receiving number.","description":"Reply to an SMS message.","operationId":"replyToSmsMessage","parameters":[{"name":"smsId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsReplyOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentSmsDto"}}}}}}},"/sms/{smsId}/codes":{"post":{"tags":["SmsController"],"summary":"Extract verification codes from an SMS","description":"Extract one-time passcodes and verification tokens from SMS body content. Deterministic `PATTERN` extraction is available now. Use method flags to control fallback behavior for QA.","operationId":"getSmsCodes","parameters":[{"name":"smsId","in":"path","description":"ID of SMS to extract codes from","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractCodesOptions"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtractCodesResult"}}}}}}},"/sms/send":{"post":{"tags":["SmsController"],"operationId":"sendSms","parameters":[{"name":"fromPhoneNumber","in":"query","description":"Phone number to send from in E.164 format","required":false,"schema":{"type":"string"}},{"name":"fromPhoneId","in":"query","description":"Phone number ID to send from in UUID form","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsSendOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SentSmsDto"}}}}}}},"/sendEmail":{"post":{"tags":["CommonActionsController"],"summary":"Send an email","description":"If no senderId or inboxId provided a random email address will be used to send from.","operationId":"sendEmailSimple","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleSendEmailOptions"}}},"required":true},"responses":{"201":{"description":"Created"}}}},"/sendEmailQuery":{"post":{"tags":["CommonActionsController"],"summary":"Send an email using query parameters","description":"If no senderId or inboxId provided a random email address will be used to send from. Ensure your parameters are URL encoded.","operationId":"sendEmailQuery","parameters":[{"name":"senderId","in":"query","description":"ID of inbox to send from. If null an inbox will be created for sending","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"to","in":"query","description":"Email address to send to","required":true,"schema":{"type":"string"}},{"name":"body","in":"query","description":"Body of the email message. Supports HTML","required":false,"schema":{"type":"string"}},{"name":"subject","in":"query","description":"Subject line of the email","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created"}}}},"/scim/v2/{slug}/Users":{"get":{"tags":["SCIM"],"operationId":"listUsers","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"post":{"tags":["SCIM"],"operationId":"createUser","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimUserResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}}},"/scim/v2/{slug}/Groups":{"get":{"tags":["SCIM"],"operationId":"listGroups","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"startIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}},"post":{"tags":["SCIM"],"operationId":"createGroup","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/scim+json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}},"application/json":{"schema":{"$ref":"#/components/schemas/ScimGroupResource"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/scim+json":{"schema":{"type":"object"}}}}}}},"/rulesets/{id}/test":{"post":{"tags":["RulesetController"],"summary":"Test a ruleset","description":"Test an inbox or phone ruleset","operationId":"testRuleset","parameters":[{"name":"id","in":"path","description":"ID of ruleset","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RulesetTestOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxRulesetTestResult"}}}}}}},"/rulesets/test-sending":{"post":{"tags":["RulesetController"],"summary":"Test sending with rulesets","description":"Test whether outbound emails to an email address would be blocked or allowed by inbox rulesets or whether a phone number can send SMS","operationId":"testRulesetSending","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestInboxRulesetSendingOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestRulesetSendingResult"}}}}}}},"/rulesets/test-receiving":{"post":{"tags":["RulesetController"],"summary":"Test receiving with rulesets","description":"Test whether inbound emails from an email address would be blocked or allowed by inbox rulesets or test if phone number can receive SMS","operationId":"testRulesetReceiving","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRulesetReceivingOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestRulesetReceivingResult"}}}}}}},"/repliers":{"get":{"tags":["InboxReplierController"],"summary":"List inbox repliers","description":"List all repliers attached to an inbox","operationId":"getInboxRepliers","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to get repliers from","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","description":"Optional page index in inbox replier list pagination","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Optional page size in inbox replier list pagination","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","description":"Optional createdAt sort direction ASC or DESC","required":false,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"since","in":"query","description":"Filter by created at after the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"before","in":"query","description":"Filter by created at before the given timestamp","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInboxReplierDto"}}}}}},"post":{"tags":["InboxReplierController"],"summary":"Create an inbox replier","description":"Create a new inbox rule for reply toing, blocking, and allowing emails when sending and receiving","operationId":"createNewInboxReplier","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInboxReplierOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboxReplierDto"}}}}}},"delete":{"tags":["InboxReplierController"],"summary":"Delete inbox repliers","description":"Delete inbox repliers. Accepts optional inboxId filter.","operationId":"deleteInboxRepliers","parameters":[{"name":"inboxId","in":"query","description":"Optional inbox id to attach replier to","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/phone":{"post":{"tags":["PhoneController"],"summary":"Add phone number to your account. Only works if you have already added a plan and an initial phone number in your account and acknowledged the pricing and terms of service by enabling API phone creation.","description":"Create new phone number","operationId":"createPhoneNumber","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePhoneNumberOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberDto"}}}}}}},"/phone/validate":{"post":{"tags":["PhoneController"],"summary":"Verify validity of a phone number","description":"Validate a phone number","operationId":"validatePhoneNumber","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidatePhoneNumberOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberValidationDto"}}}}}}},"/phone/validate/line-type-intelligence":{"post":{"tags":["PhoneController"],"summary":"Get line type intelligence for a phone number","description":"Lookup line type intelligence for a phone number","operationId":"getPhoneNumberLineTypeIntelligence","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidatePhoneNumberOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneNumberLineTypeLookupDto"}}}}}}},"/phone/provisioning/search":{"post":{"tags":["PhoneController"],"summary":"Search available phone numbers","description":"Search available numbers for advanced provisioning","operationId":"searchAvailablePhoneNumbers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAvailablePhoneNumbersOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AvailablePhoneNumbersResult"}}}}}}},"/phone/provisioning/jobs":{"post":{"tags":["PhoneController"],"summary":"Create a phone provisioning job","description":"Create an advanced phone provisioning job from shortlisted numbers","operationId":"createPhoneProvisioningJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePhoneProvisioningJobOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhoneProvisioningJobDto"}}}}}}},"/phone/pools":{"get":{"tags":["PhoneController"],"summary":"Get phone pools","description":"List phone pools for the authenticated user","operationId":"getPhonePools","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhonePoolDto"}}}}}}},"post":{"tags":["PhoneController"],"summary":"Create phone pool","description":"Create a reusable pool of phone numbers for coordinated leasing","operationId":"createPhonePool","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePhonePoolOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhonePoolDetailDto"}}}}}}},"/phone/pools/{poolId}/numbers":{"post":{"tags":["PhoneController"],"summary":"Add phone numbers to phone pool","description":"Add one or more owned phone numbers to a pool","operationId":"addPhoneNumbersToPhonePool","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPhonePoolNumbersOptions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhonePoolDetailDto"}}}}}}},"/phone/pools/{poolId}/numbers/add-all":{"post":{"tags":["PhoneController"],"summary":"Add all phone numbers to phone pool","description":"Add all active owned phone numbers to a pool","operationId":"addAllPhoneNumbersToPhonePool","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhonePoolDetailDto"}}}}}}},"/phone/pools/{poolId}/leases":{"post":{"tags":["PhoneController"],"summary":"Acquire phone pool lease","description":"Acquire an available phone number from the pool and mark it leased","operationId":"acquirePhonePoolLease","parameters":[{"name":"poolId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components
[...]
